<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" target="_blank" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" target="_blank" href="../static/style.css">
    <link rel="icon" type='image/png' target="_blank" href="../static/img/132d83d1688e777e69ff76809b64ee47.jpg">
    <link rel="stylesheet" target="_blank" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>zLuuuck</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/WhatsApp Image 2023-03-29 at 14.38.12.jpeg" alt="Perfil-foto">
            <h1>Lucas Toterol</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/zluuuck/"><i class="bi bi-linkedin"></i></a>
                <a target="_blank" href="https://github.com/zLuuuck/"><i class="bi bi-github"></i></a>
                <a target="_blank" href="https://www.instagram.com/z_luuuck/"><i class="bi bi-instagram"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCHaXy-ELfUTlWjSqUWlyCJA"><i
                        class="bi bi-youtube"></i></a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#"> <i class="bi bi-house"> </i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="bi bi-person"> </i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="bi bi-list-check"> </i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="bi bi-file-earmark"> </i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="bi bi-collection"> </i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> <i class="bi bi-envelope"> </i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Lucas Toterol</h2>
                <span id="subtitle" class="text-white text-shadow">Estudante e Entusiasta na Programação</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arrate para mais</a>
                </div>
            </div>
        </section>
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>