<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" target="_blank" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" target="_blank" href="../static/style.css">
    <link rel="icon" type='image/png' target="_blank" href="../static/img/132d83d1688e777e69ff76809b64ee47.jpg">
    <link rel="stylesheet" target="_blank"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>zLuuuck</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>
    <aside id="header">
        <section class="profile">
            <img src="../static/img/WhatsApp Image 2023-03-29 at 14.38.12.jpeg" alt="Perfil-foto">
            <h1>Lucas Toterol</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/zluuuck/"><i class="bi bi-linkedin"></i></a>
                <a target="_blank" href="https://github.com/zLuuuck/"><i class="bi bi-github"></i></a>
                <a target="_blank" href="https://www.instagram.com/z_luuuck/"><i class="bi bi-instagram"></i></a>
                <a target="_blank" href="https://www.youtube.com/channel/UCHaXy-ELfUTlWjSqUWlyCJA"><i
                        class="bi bi-youtube"></i></a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#inicio"> <i class="bi bi-house"> </i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"> <i class="bi bi-person"> </i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"> <i class="bi bi-list-check"> </i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"> <i class="bi bi-file-earmark"> </i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"> <i class="bi bi-collection"> </i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"> <i class="bi bi-envelope"> </i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Lucas Toterol</h2>
                <span id="subtitle" class="text-white text-shadow">Estudante e Entusiasta na Programação</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arrate para mais</a>
                </div>
            </div>
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>
                        Olá! Seja bem-vindo(a) seja bem-vindo a uma pequena apresentação sobre mim! ;D
                        Comecei meu interesse por Programação na metade de 2020 (há algum tempinho), meu
                        primeiro contato com a tecnologia de computadores!
                    </p>
                    <p>
                        Meu primeiro projeto, que infelizmente não tenho mais o código, foi um bot do Discord.
                        Na época eu só queria saber dos códigos, e infelizmente não comecei corretamente..
                        Mas após tantos esforços, em 2021 mudei de ideia, queria ser um hacker, ou melhor dizendo
                        um cibersegurança. Não durou muito até eu desistir novamente. Isso durou até o final de 2022,
                        começando, recomeçando, começando de novo..
                    </p>
                    <p>
                        Mas agora isso acabou! No começo do ano de 2023, decidi mudar tudo isso!
                        Coloquei em minha cabeça o foco e a disciplina em primeiro lugar. E aqui estou. Fazendo um
                        portfólio
                        para meus futuros projetos!
                    </p>
                    <p>
                        Nenhuma experiencia no mercado de trabalho, mas com certeza mais do que apto a aprender novas
                        linguagens, experiencias novas, trabalhar com pessoas diferentes e acima de tudo, desenvolver
                        tento na empresa, quanto em pessoa.
                    </p>
                    <p>
                        Obrigado por ler ^-^ (ah é, já deve ter percebido se chegou aqui, mas eu gosto de anime '-')
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/WhatsApp Image 2023-03-29 at 14.38.12.jpeg"
                        atl="Foto do Lucas">
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Estudante</h3>
                    <p>Estudante da area de programação e TI. Com foco em estudar desenvolvimento web fullstack,
                        utilizando as linguagens Python e JS. Estudando também Java-POO, Banco de dados SQL e Frameworks
                        como Django e TypeScript.</p>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item fw-bold">Aniversário: <span class="fw-light">15 de
                                        Agosto</span></li>
                                <li class="list-group-item fw-bold">Idade: <span class="fw-light">15 anos</span></li>
                                <li class="list-group-item fw-bold">Cidade: <span class="fw-light">Curitiba</span></li>
                                <li class="list-group-item fw-bold">Estado: <span class="fw-light">Paraná</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item fw-bold">Hobby: <span class="fw-lighter">Judô & Games</span>
                                </li>
                                <li class="list-group-item fw-bold">Site: <a href="https://linktr.ee/zluuuck"
                                        target="_blank"
                                        class="fw-lighter text-decoration-none link-dark">links.zluuuck</a></li>
                                <li class="list-group-item fw-bold">Trabalho: <span class="fw-lighter">Só os da
                                        escola kkkk</span></li>
                                <li class="list-group-item fw-bold">Experiência: <span class="fw-lighter">Não
                                        temos</span></li>
                            </ul>
                        </div>
                    </div>
                    <p>aquela foto séria de documento pra transmitir seriedade kkkk</p>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>A medida do tempo, a tecnologia avança e eu também. Aqui vai algumas das habilidades que acredito que
                    queiram ver. Habilidades técnicas e não técnicas, e eu acredito que possa haver um crescimento
                    absurdo em cada uma delas conforme meu desenvolvimento na empresa e na carreira</p>
                <hr class="w-50 me-auto ms-auto">
                    <h3 class="mt-3 mb-0">Technical Skills</h3>
                <div class="row">
                    <div class="col-md-6">

                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="55"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 55%">55%</div>
                        </div>

                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 40%">40%</div>
                        </div>

                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="30"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 30%">30%</div>
                        </div>

                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 60%">60%</div>
                        </div>

                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="35"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 35%">35%</div>
                        </div>

                    </div>

                    <div class="col-md-6"> 
                        <p class="mt-3 mb-0">Git & Github</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="45"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 45%">45%</div>
                        </div>

                        <p class="mt-3 mb-0">Deploy</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="47"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 47%">47%</div>
                        </div>

                        <p class="mt-3 mb-0">TI</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 60%">60%</div>
                        </div>

                        <p class="mt-3 mb-0">Sistemas Operacionais</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="40"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 40%">40%</div>
                        </div>

                        <p class="mt-3 mb-0">Hardware</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="35"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 35%">35%</div>
                        </div>

                    </div>
                </div>
                <hr class="w-50 me-auto ms-auto">
                <h3 class="mt-3 mb-0" >Soft Skills</h3>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="75"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 75%">75%</div>
                        </div>

                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>

                        <p class="mt-3 mb-0">Flexibilidade</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="83"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 83%">83%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="95"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 95%">95%</div>
                        </div>

                        <p class="mt-3 mb-0">Organização</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="90"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 90%">90%</div>
                        </div>

                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="98"
                            aria-valuemin="0" aria-valuemax="100" style="height: 25px">
                            <div class="progress-bar" style="width: 98%">98%</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>